version: "3.9"
services:
  frontend: 
    build:
      context: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - 3000:3000
    networks:
      - zerodha
  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - 5000:5000
    restart: always
    networks:
      - zerodha
  dashboard:
    build:
       context: ./dashboard
    container_name: dashboard
    # healthcheck:
    #   test: ["CMD", "mongo", "localhost:27017/zerodha", "--username", "root", "--password", "root", "--quiet", "--eval", "db.runCommand('ping').ok"]
    #   interval: 60s
    #   timeout: 30s
    #   retries: 5
    ports:
      - 3002:3000
    restart: always
    networks:
      - zerodha
    depends_on:
      - backend
    # volumes:
    #   - mongo-data:/data/db
# volumes:
#   mongo-data:
networks:
    zerodha:
        driver: bridge

